body{
    background: rgb(235, 237, 100);
    font-family:  Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font: 1.4em;
    line-height: 1.4em;
}
nav ul{
    list-style: none;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
}
li{
    display: inline-block;/*borde de las referencias*/
    margin: 5px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(105, 147, 189);
}